.scroll {
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}

.item {
  width: 200px;
  height: 100%;
  background: blue;
  opacity: .5;
  margin-left: 5px;
  display: inline-block;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
.item:hover
{
  width: 300px;
}
